*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('img/legends.jpg');
    background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  
}

/* #black-div{
    width: 100vw;
    height: 100vh;
    background: #333;
} */

main{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


@font-face {
    font-family: MinecraftEvenings-RBao;
    src: url('./minecraft-evenings-font/MinecraftEvenings-RBao.ttf');
  }


#main-welcome{
    width:max-content;
    height: 12rem;
    /* margin: auto; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-page-btn{
    width: 10rem;
    height: 2.5rem;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 15px;
    border: 1px solid transparent;
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    text-decoration: none;
}


.home-page-btn:hover {
        background-position: right center; /* change the direction of the change here */
      }
.home-page-btn:active{
        background-position: left center; /* change the direction of the change here */
    }

h1{
    font-family: MinecraftEvenings-RBao;
    font-size: 3rem;
    color: rgb(9, 5, 51);
}


#maincraft{
    width: 40vw;
    /* min-width: 10vmin; */
    height: 20vh;
    /* min-height: 100vmin; */
    display: grid;
    grid-template-columns:repeat(40,1fr);
    grid-template-rows:repeat(9,1fr);
    /* border:1px solid #84fab0; */
    margin-top: 8%;
}


.ground{
    width: 1fr;
    height: 1fr;
    background: url('img/ground.png')no-repeat center center/cover;
}

.ground-grass{
    width: 1fr;
    height: 1fr;
    background: url('img/ground-grass.png')no-repeat center center/cover;
}

#inst-section{
    width: 30rem;
    height: fit-content;
    position: absolute;
    top: 3%;
    background: rgb(2,8,41);
    background: linear-gradient(172deg, rgba(2,8,41,1) 30%, rgba(66,180,249,1) 96%);
    padding: 2rem;
    border-radius: 15px;
    color: orange;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    display: none;
}

#inst-section h4{
    margin: 1rem auto;
}

#inst-section ul,
#inst-section #code,
#inst-section #inve{
    list-style: none;
    border: 1px solid orange;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
    box-shadow: 5px 5px 18px #888888;
}

@media only screen and (max-width: 600px){
    body{
        font-size: 12px;
    }
    #maincraft{
        width: 80%;
        margin-top: 40%;
    }

    #inst-section{
        width: 80%;
        margin-top: 30%;
    }
    
}